{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>

<section class="form-container" id="register-form-container">
    <form method="POST" novalidate>
        {{ register_form.hidden_tag() }} <!-- includes csrf token automatically -->

        <label for="name">{{ register_form.name.label }}</label>
        {{ register_form.name(class="form-input", id="name", placeholder="First Name") }}
        {% for error in register_form.name.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <label for="email">{{ register_form.email.label }}</label>
        {{ register_form.email(class="form-input", id="email", placeholder="Email") }}
        {% for error in register_form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <label for="password">{{ register_form.password.label }}</label>
        {{ register_form.password(class="form-input", id="password", placeholder="Password") }}
        {% for error in register_form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <label for="confirm_password">{{ register_form.confirm_password.label }}</label>
        {{ register_form.confirm_password(class="form-input", id="confirm_password", placeholder="Confirm Password") }}
        {% for error in register_form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <section class="btn-container">
          {{ register_form.submit(class="sign-in-btn") }}
        </section>
    </form>
</section>

<div class="link-container">
    <p>Already registered?
        <a href="{{ url_for('main.login') }}">
            <button type="button" class="link-btn">Login Here</button></a>
    </p>
</div>
{% endblock %}
